.DS_Store
data
*/data
*/twitter
.idea
/RUNNING_PID
*/logs/
/project/*-shim.sbt
/project/project/
*/target/
target/
/models
.projectFilesBackup
*.class
annotation-cache/
/config
*.lc
*.lex
*~
*/*.swp
*.swp
out/
/data/ABX3CIF/
src/main/resources/
src/main/scala-2.11/
src/main/scala-2.12/
src/main/scala/
src/test/
